  .top {
    grid-column: 1 / 13;
    height: 200px;
  }

  header {
    position: fixed;
    top: 50px;
    width: inherit;
  }
  
  .bar {
    display: grid;
    grid-template-columns: repeat(2, 590px);
    justify-content: center;
    height: 100%;
    width: auto;
  }
  
  .navbar {
    display: flex;
    min-width: 685px;
    max-width: 1200px;
    background: #c5c9ce;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    grid-column: 1 / 3;
  }
  
  .logo {
    width: 150px;
    height: 75px;
    align-content: center;
    user-select: none;
    padding-left: 35px; 
  }
  
  .logo p {
    font-family: cursive;
    color: #000228;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .buttonBox {
    display: flex;
    align-self: center;
    gap: 10px;
    margin: 10px;
  }
  
  .login, .order {
    display: flex;
    width: auto;
    align-items: center;
    align-self: center;
    height: 70%;
    width: 110px;
    background-color: #c5c9ce;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-family: cursive;
    transition: background-color 0.3s, box-shadow 0.3s;
    user-select: none;
    gap: 5px;
  }
  
  .login p, .order p {
    color: #000228;  
  }
  
  .login:hover, .order:hover {
    cursor: pointer;
    background-color: #a7abaf;
  }
  
  .login:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links-text {
    display: flex;
    height: 20px;
    width: 100%;
    min-width: 450px;
    max-width: 740px;
    align-self: center;
    align-items: center;
    justify-content: left;
  }
  
  .nav-links {
    display: flex;
    font-size: 20px;
    list-style-type: none;
    padding-inline-start: 10px;
  }
  
  .nav-links-text li {
    margin: 0 15px;
  }
  
  .nav-links-text a {
    text-decoration: none;
    color: #000228;
    font-family: cursive;   
  }
  
  .nav-links a:hover {
    color: #a7abaf;
  }