*, html {
    margin:0;
    padding:0;  
}

/*-----------------------Hero Section-------------------------------------*/

.hero-section-FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8d7d7;
    width: 100%;
    padding-top: 150px;
}
.hero-section-header{
    color: #06368D;
    font-weight: bold;
    font-size: 50px;
}

/*-------------------------Accordian Section-----------------------------------*/

.FAQ-paige-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8d7d7;
    width: 100%;
    padding-bottom: 100px;
}
.wrapper-FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accordian-header-FAQ{
    color: #06368D;
    margin: 20px;
}
.accordian-FAQ{
    width: 500px;
    margin-bottom: 60px;
}
.item-FAQ{
    background: #c1c0c0a0;
    margin-bottom: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.title-FAQ{
    color: #06368D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-FAQ:hover{
    background: #FFC857;
}
.item-FAQ.selected-FAQ {
    background: #FFC857;
}
.question-text-FAQ{
    color: #06368D;
}
.content-FAQ{
    color:#555252 ;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content-FAQ.show-FAQ{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

/*-------------------------Send Email Section-----------------------------------*/

.email-container-FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8d7d7;
    width: 100%;
    padding-top: 100px;
}
.email-section-FAQ{
    display: flex;
    flex-direction: row;
    align-items:normal;
    gap: 200px;
}
.send-us-a-letter-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.callback-form-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.email-container-FAQ input{
    border-radius: 5px;
    min-width: 200px;
    min-height: 30px;
}
.email-container-FAQ input:hover{
    background-color: #FFC857;
}
.email-container-FAQ input:focus{
    background-color: #FFC857;
}
.email-container-FAQ button{
    border-radius: 5px;
    background-color: #06368D;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
}
.email-container-FAQ button:hover{
    cursor: pointer;
    background-color:#FFC857;
}
