*, html {
  margin:0;
  padding:0;  
}

  .paige-container-footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d8d7d7a0;
    display: grid;
    grid-template-columns: repeat(12, 80px);
    column-gap: 20px;
    justify-content: center;
  }
  .footer-section-container{
    grid-column: 1/13;
  }
  .footer-section-container-flex-top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .footer-section-container-flex-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .contact-boxes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-bottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-logos {
    height: 60px;
    width: auto;
  }
  .footer-logo{
    font-weight: bold;
    font-size: larger;
  }
  .footer-links-bottom{
    margin-left: 10px;
  }
