*, html {
    margin:0;
    padding:0;  
}

.paige-container-homepaige{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d8d7d7;
    display: grid;
    grid-template-columns: repeat(12, 80px);
    column-gap: 20px;
    justify-content: center;
}

/*------------------------------------------------------------*/

.hero-section-homepaige{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 400px;
    padding-bottom: 100px;
    background-color: rgb(71, 71, 233);
    background-image: url("../src/assets/warehouse-background.jpg");
    background-size: cover;
    background-blend-mode: lighten;

    color: rgb(49, 31, 98)(55, 255, 255);
}
.hero-button-homepaige{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.hero-section-homepaige h1, .hero-section-homepaige h2, .hero-section-homepaige .hero-button-homepaige{
    margin-bottom: 20px; 
}

/*------------------------------------------------------------*/

.services-section-container{
    grid-column: 1/13;
    padding-top:100px;
    padding-bottom: 100px;
}
.services-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 40px;
}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.101);
    border-radius: 10px;
    gap: 70px;
    padding: 10px;
}
.services-images-1{
    order: -1;
    height: 40px;
    width: auto;
}
.services-arrows{
    font-size: 30px;
}

/*------------------------------------------------------------*/
.how-we-work-section-homepaige-container{
    grid-column: 1/13;
}
.how-we-work-section-homepaige-center-grid{
    display:flex;
    justify-content: center;
}
.how-we-work-section-homepaige-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,auto);
    gap: 60px;
    padding-bottom: 200px;
}
.work-cards-homepaige-1, .work-cards-homepaige-2, .work-cards-homepaige-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.101);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.work-cards-homepaige-1{
    grid-column: 1;
    grid-row: 1;
}
.work-cards-homepaige-2{
    grid-column: 2;
    grid-row: 2;
}
.work-cards-homepaige-3{
    grid-column: 1;
    grid-row: 3;
}
.work-cards-homepaige-image-1, .work-cards-homepaige-image-2, .work-cards-homepaige-image-3{
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.101);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.work-cards-homepaige-image-1{
    grid-column: 2;
    grid-row: 1;
}
.work-cards-homepaige-image-2{
    grid-column: 1;
    grid-row: 2;
}
.work-cards-homepaige-image-3{
    grid-column: 2;
    grid-row: 3;
}
.work-cards-homepaige-button{
    border-radius: 5px;
    padding: 10px;
    margin-top: 40px;
}