*,
html {
    margin: 0;
    padding: 0;
}

.h1_shipping, .h2_shipping {
    text-align: center;
}

.h1_shipping {
    font-size: 64px;
}

.h2_shipping {
    font-size: 36px;
}

.shipping_greeting {
    margin: 167px 0 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.arrow_down {
    height: 35px;
}

p {
    color: #000228;
    font-size: 18px;
    z-index: 1;
}

.shipping_content {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 120px;
}

.form_section_shipping {
    width: 80%;
    margin-bottom: 60px ;
    border: 2px solid #06368d;
    border-radius: 12px;
    background-color: #d9d9d9;
    padding: 20px;

}

.section_header_shipping {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;
}

.section_header_shipping h2 {
    color: #06368d;
    font-size: 36px;
    font-weight: 400;
    padding-left: 20px;
}

.arrow_shipping {
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.arrow_up_shipping {
    border-bottom: 12px solid #06368d;
}

.form_content_shipping {
    padding: 20px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.left_side_shipping {
    width: 100%;
}

.group_shipping {
    width: 57%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.form_div_shipping {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.group_shipping input {
    width: 100%;
    border: 1px solid #06368d;
    border-radius: 4px;
    background-color: #d8d7d7;
    padding: 10px 20px;
    font-size: 16px;
}

.group_shipping span {
    color: #06368d;
    cursor: pointer;
    font-weight: bold;
}

.group_shipping label {
    color: #7A7A7A;
}

.edit_div_shipping {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8.25px;
}

.edit_div_shipping span {
    border-bottom: 1px solid #06368d;
}

.save_btn_shipping {
    background-color: #06368d;
    color: #d9d9d9;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    height: 40.5px;
}

.save_btn_shipping:disabled {
    background-color: #d9d9d9;
    border: 1px solid #06368d;
    color: #7A7A7A;
    cursor: not-allowed;
}

.save_button_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 15%;
}

.continue_btn {
    width: 10%;
}


.arrow_shipping {
    border: 0px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.arrow_shipping.open {
    transform: rotate(180deg);
}

.form_content_shipping {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0;
}

.form_content_shipping.open {
    max-height: 1000px;
    padding: 20px;
}
